.hero {
  position: relative;
}

.hero-image {
  width: 100%;
}

.hero-text {
  position: absolute;
  /* top: 40%;
  left: 20%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  text-align: center;
}

.hero .btn-outline-dark:hover {
  background-color: #fbb03b;
}
